@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100dvw;
  background-color: #343436;
  font-family: "Cairo-Regular", sans-serif;
}

@layer base {
  @font-face {
    font-family: "Cairo-Regular";
    src: url("./assets/fonts/cairo-regular.woff2") format("woff2");
  }
}

@layer components {
  .splash-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("src/assets/images/splashscreen.png"); /* Add your background image here */
    background-size: cover;
    background-position: cover;
    display: flex;
   
  }
}
